{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 * - site_logo_link_title: Title for logo link as defined in Site Branding Block Config form.
 * - site_logo_img_alt: Logo Image Alt text as defined in Site Branding Block Config form.
 *
 * @ingroup themeable
 */
#}

{% block content %}
  {% if site_logo %}
    <a href="{{ site_logo_redirect }}" title="{{ site_logo_link_title|t }}" rel="home">
      <img src="{{ site_logo }}" alt="{{ site_logo_img_alt|t }}" />
    </a>
  {% endif %}
  {% if site_name %}
    <a href="{{ site_logo_redirect }}" title="{{ site_logo_link_title|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
